* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol {
    padding: 0;
    margin: 0;
}

/*Common CSS End*/

/*Menu Part Start*/


.navbar.navbar-expand-lg.main_menu.p-lg-0.menu_fix {
    position: fixed;
    left: 0;
    top: 0px !important;
    width: 100%;
    background: rgba(0, 0, 0, 0.94);
}



.main_menu {
    background: transparent;
    position: absolute;
    left: 0;
    top: 60px !important;
    z-index: 999;
    width: 100%;
    height: 74px;
}

.main_menu .navbar-nav .nav-link {
    padding: 0;
}


.main_menu .navbar-nav .nav-item a.active {
    color: yellow;
    position: relative;
}

.main_menu .navbar-nav .nav-item a.active:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 15px;
    background: yellow;
}


.main_menu .navbar-nav .nav-item .nav-link {
    margin-left: 43px;
    line-height: 74px;
    position: relative;
    color: #fdfdfe;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;

}

.main_menu .navbar-nav .nav-item a.active::after:hover {
    color: rgb(238, 255, 0)
}



.main_menu .navbar-nav .nav-item .nav-link:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 15px;
    width: 0;
    height: 1px;
    background: #744fa0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;

}


.main_menu .navbar-nav .nav-item .nav-link:hover:after {
    width: 70%;
}






.main_menu .navbar-nav .menu_btn {
    padding: 6px 20px;
    background: #744fa0;
    margin-left: 43px;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.main_menu .navbar-nav .menu_btn:hover {
    background: #fff;
    color: #744fa0;
}

/*Menu Part End*/


/*Banner Part Start*/



#banner_part {
    position: relative;
}

#banner_part>a {
    position: absolute;
    right: 30px;
    top: 284px;
    z-index: 99;
    color: #fff;
}

#banner_part .slick-dots li button {
    font-size: 0;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    position: relative;
    margin-bottom: 20px;
}

#banner_part .slick-dots li button::after {
    position: absolute;
    content: '';
    left: -6px;
    top: -6px;
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-radius: 50%;
}

#banner_part .slick-dots li.slick-active button {
    background: #744fa0;
}

#banner_part .slick-dots li.slick-active button:after {
    border-color: #744fa0;
}


#banner_part .slick-dots {
    position: absolute;
    right: 35px;
    top: 45%;
}

.banner_item {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    padding: 243px 0 130px;
    position: relative;
    z-index: 1;
}

.banner_item:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}


.banner_text h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}


.banner_text h1 span {
    color: #744fa0;
}


.banner_text h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-bottom: 56px;
}

.banner_text h2::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: -30px;
    background: #fff;
    width: 200px;
    height: 1px;
}


.banner_text p.banner_p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
}



.banner_text .bt1 {
    padding: 7px 20px 10px 56px;
    background: #744fa0;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}


.banner_text .bt2 {
    padding: 7px 20px 10px 56px;
    background: #744fa0;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}



.banner_text a i {
    position: absolute;
    left: 30px;
    top: 37%;
    transform: translate(-50%);
    color: #fff;
    font-size: 33px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.banner_text p.button_p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}


.banner_text h4 {
    color: #fff;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}


.banner_text a:hover p,
.banner_text a:hover h4,
.banner_text a:hover i {
    color: #353535;
}

.banner_text a:hover {
    background: #fff;
}

/*Banner Part End*/


/*About Part Start*/
#about_part {
    padding: 80px 0;
}


.about_text h2 {
	color: #353535;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	padding-top: 63px;
	text-transform: uppercase;
}



.about_text img {
    margin-top: 5px;
}

.about_img img {
    margin-top: 21px;
}

.about_text p {
    padding-top: 23px;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    font-family: 'Raleway', sans-serif;
}

.about_text span p {
    padding-bottom: 20px;
}

/*About Part End*/

/*Awesome Part Start*/
#awesome_part {
    background: #f1f1f1;
    padding: 60px 0;
}

#awesome_part .awesome_head {
    margin-bottom: 46px;
}


#awesome_part .nav_img img {
    margin-left: 55px;
}

.awesome_head img {
    margin-bottom: 30px;
}

.awesome_head h4 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


.tab_menu h3 {
    color: #353535;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.tab_menu p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.tab_menu .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent;
}


.tab_menu a {
    padding-left: 57px;
    position: relative;
    background: #f1f1f1;
    padding-bottom: 34px;
    position: relative;
    padding-top: 23px;
}

.tab_menu a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0px;
    width: 270px;
    height: 1px;
    background: #353535;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.tab_menu a:hover:after {
    color: #744fa0;
    width: 100%;
    background: #744fa0;
}

.tab_menu a:hover h3,
.tab_menu a:hover i,
.tab_menu a:hover p {
    color: #744fa0;
}

.tab_menu .active a,
.tab_menu .active h3,
.tab_menu .active i,
.tab_menu .active p {
    color: #744fa0;
    background: transparent;

}

.tab_menu .active:after {
    background: #744fa0;
    width: 100%;
}


.tab_menu a i {
    position: absolute;
    left: 0;
    top: 23px;
    font-size: 42px;
    color: #353535;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.nav_text h4 {
    color: #353535;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 72px;
    text-align: right;
}

.nav_text p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    text-align: right;
}

.nav_text span p {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    padding-top: 20px;
}


.tab_menu a.af_no:after {
    display: none;
}

/*Awesome Part End*/



/*Screenshot Part Start*/
#screenshot_part {
    padding: 100px 0;
    position: relative;
}


#screenshot_part .screenshot_head {
    margin-bottom: 58px;
}

.screenshot_head h4 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


#screenshot_part .slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: -67px;
}

#screenshot_part ul.slick-dots li button {
    font-size: 0;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    margin-right: 20px;
    position: relative;
}

#screenshot_part ul.slick-dots li.slick-active button {
    background: #744fa0;
}


#screenshot_part ul.slick-dots li.slick-active button:after {
    border-color: #744fa0;
}


#screenshot_part button:focus {
    outline: 0;
}

#screenshot_part ul.slick-dots li button::after {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 3px solid #353535;
    float: left;
    border-radius: 50%;
    left: -6px;
    top: -6px;
}





/*Screenshot Part End*/















/*Vedio Part Start*/
#vedio_part {
    padding: 100px 0;
}

#vedio_part h3 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

#vedio_part .vedio_head {
    margin-bottom: 58px;
}

.vedio_main {
    background: url(../images/video_img.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    position: relative;
}

.vedio_main .overly {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.vedio_main .overly a {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    font-size: 60px;
    transform: translate(-50%, -50%);
}


/*Vedio Part End*/




/*Price Part Start*/
#price_part {
    padding: 100px 0;
}


#price_part .price_head {
    margin-bottom: 55px;
}

.price_head h3 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}


.plan_text h4 {
    font-size: 18px;
    font-weight: 700;
    padding: 24px 0;
    background: #f1f1f1;
    font-family: 'Raleway', sans-serif;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#price_part .price_head {
    margin-bottom: 60px;
}

.plan_text h3 p {
    color: #353535;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

#price_part h3 span {
    color: #353535;
    font-size: 23px;
}

.plan_text h3 {
    padding: 45px 0;
    color: #353535;
    font-size: 47px;
    font-weight: 600;
    position: relative;
    font-family: 'Raleway', sans-serif;
}


.plan_text h3::after {
    content: '';
    position: absolute;
    border: 3px solid #f1f1f1;
    height: 120px;
    width: 120px;
    left: 70px;
    top: 29px;
    border-radius: 50%;
}

.plan_text ul {
    padding: 27px 0 38px;
    background: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.plan_text ul li {
    font-size: 14px;
    color: #555555;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

.plan_text a {
    padding: 10px 21px;
    background: #fff;
    color: #353535;
    border: 1px solid #353535;
    border-radius: 5px;
    position: absolute;
    left: 31%;
    top: 95%;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    line-height: 13px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}



.plan_text:hover h4,
.plan_text:hover a {
    background: #744fa0;
    border-color: #744fa0;
    color: #fff;
}

/*Price Part End*/




/*Team Part Start*/
#team_part {
    padding: 36px 0;
}

#team_part .team_head {
    margin-bottom: 55px;
}

.team_img {
    position: relative;
}

.team_head img {
    margin-bottom: 78px;
}

.team_head h3 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.team_img .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: scale(0);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}


.team_text {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_text h3 {
    padding-top: 30px;
    color: #353535;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.team_text h4 {
    padding-top: 8px;
    color: #353535;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.team_text p {
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 16px 50px;
}


.team_img .overly ul li a {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #353535;
    border: 1px solid #fff;
    font-size: 24px;
    margin-right: 10px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}



.team_img .overly ul li a:hover {
    color: #fff;
    background: #1da1f2;
    border-color: #1da1f2;
}


.team_main .team_text {
    transform: scale(0);
}

.team_main {
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team_main:hover {
    transform: translateY(-70px);
}

.team_main:hover .team_text {
    transform: scale(1);
}

.team_img .overly ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.team_main:hover .overly {
    transform: scale(1);
}

/*Team Part End*/


/*Feedback Part Start*/

.feedback_head {
    padding-bottom: 30px;
}


#footer_part span {
    color: #744fa0;
}



#feedback_part .slick-dots li button {
    position: relative;
    font-size: 0;
    border: 0;
    background: transparent;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 10px;
}

#feedback_part .slick-dots li button::after {
    position: absolute;
    content: '';
    left: -6px;
    top: -6px;
    width: 18px;
    height: 18px;
    border: 3px solid #fff;
    border-radius: 50%;
}

#feedback_part .slick-dots li.slick-active button {
    background: #744fa0;
}

#feedback_part .slick-dots li.slick-active button::after {
    border-color: #744fa0;
}


#feedback_part .slick-dots {
    position: absolute;
    left: 50%;
    bottom: -44px;
    transform: translateX(-50%);
    display: flex;
}





#feedback_part button:focus {
    outline: 0;
    border: 0;
}


.feedback_head h3 {
    color: #353535;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.feedback_banner {
    background: url(../images/feedback.jpg) no-repeat center !important;
    background-size: cover !important;
    padding: 45px 0 85px;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}


.feedback_banner:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.feedback_text {
    padding: 30px 69px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}




.feedback_text::after {
    position: absolute;
    content: '';
    left: 50%;
    height: 40px;
    width: 40px;
    background: white;
    bottom: -20px;
    transform: translateX(-50%) rotate(-45deg);
    border-radius: 0 0 0 8px;
}



.feedback_img {
    margin-top: 75px;
}


.feedback_img_slider .feed_img1 img {
    opacity: .7;
}

.feedback_img_slider .slick-center .feed_img1 img {
    transform: scale(1.3);
    border: 3px solid #744fa0;
    border-radius: 50%;
    opacity: 1;
}


.feedback_img_slider .draggable {
    padding: 30px 0 !important;
    margin-left: 30px;
}

.feedback_text_slider .draggable {
    padding-bottom: 25px;
}

/*Feedback Part End*/

/*Contact Part Start*/
#contact_part {
    padding: 100px 0;
}

.contact_head h3 {
    color: #353535;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}


.contact_text {
    padding-top: 50px;
}


.textarea {
    width: 1170px;
}


.contact_text input {
    height: 50px;
    width: 100%;
    border: 1px solid #353535;
    border-radius: 10px;
    margin-bottom: 30px;
}

.contact_text .form_control {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
    padding-left: 10px;
}

.contact_text_write .form_wbox {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    height: 200px;
    width: 100%;
    font-family: sans-serif;
    border: 1px solid #555555;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.contact_text_write button {
    display: inline-block;
    padding: 5px 20px;
    background: #744fa0;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.contact_text_write button:hover {
    background-color: transparent;
    color: #744fa0;
    border: 2px solid #744fa0;
}

#contact_part button:focus {
    outline: 0;
}

/*Contact Part End*/



/* Top Bottom Start */
.tp_bm a i {
    font-size: 24px;
    right: 30px;
    bottom: 60px;
    color: #fff;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #744fa0;
    line-height: 50px;
    text-align: center;
    z-index: 999;
}

/* Top Bottom End */


/* Footer Part Start */
#footer_part {
    padding: 35px 0;
    background: #353535;
}


#footer_part .footer_logo {
    margin-bottom: 30px;
}

#footer_part .footer_icon a {
    height: 50px;
    width: 50px;
    font-size: 24px;
    background: #f1f1f1;
    border-radius: 50%;
    color: #353535;
    line-height: 50px;
    margin: 0 1px;
}

#footer_part .footer_icon a:hover {
    color: #fff;
    background: #1da1f2;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

#footer_part .footer_icon p {
    color: #f1f1f1;
    font-size: 14px;
    margin-top: 20px;
}

/* Footer Part End */